.Main_Side_Bar{
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(246, 248, 250);
    min-height: 90vh;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.Main_Side_Bar .icons {
    width:20px;
    height: 20px;
    cursor: pointer;
}
.Main_Side_Bar .Top2{
    margin-top: 10px;
    display: flex;
    padding: 10px;
    border-radius: 50px;
    margin-right: 5px;
    background-color:#dce0e4f4 ;

}

.Main_Side_Bar .Top2 input{
    outline: none;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    margin-right: 5px;
    font-size: 15px;
    margin-left: 5px;
}

.bottom_part{
    display: flex;
    gap:10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 50px;
}
.Recent{
    margin-top: 10px;
    animation: fadeIn 1.5s;
    
}
.recent_chat{
    margin: 5px;
    display: flex;
    padding: 7px;
    border-radius: 50px;
}
.recent_chat:hover{
    background-color: #e9f0f7f4;
    cursor: pointer;
    
}

.bottom_part:hover{
    background-color: #f6f8faf4;
    cursor: pointer;
    
}

@media(max-width:600px){
    .Main_Side_Bar{
        display: none;
    }
}