.Main{
    
    min-height: 100vh;
    width:100%;
    position: relative;
    padding-bottom: 12vh;
    color: #6b6d6fcb;
    

}
.Main .Nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;             
    box-sizing: border-box;
}
.Main .Gemini_text{
    font-size: 25px;
}
 .icons{
    height: 40px;
    width: 40px;
}