.Main{
    
    min-height: 100vh;
    width:100%;
    position: relative;
    padding-bottom: 12vh;
    color: #6b6d6fcb;
    display: flex;
    flex-direction: column;
    

}
.Main .Nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;             
    box-sizing: border-box;
}
.Main .Gemini_text{
    font-size: 25px;
}

.Main .user_logo img{
    border-radius: 50px;
}
 .icons{
    height: 40px;
    width: 40px;
}

.Center_Box{
    max-width:900px;
    margin:30px 200px;
}
.Center_Box .hello_text {
    font-size: 56px;
    margin-top: 10px 0px;
    color: #c4c5c7;
    font-weight: 500;
    padding: 20px;
}
.Center_Box .hello_text span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Center_Box .Container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    margin-top: 25px;
    gap:15px;
    padding: 10px;
}

.Container .Card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f0;
    position: relative;
    cursor: pointer;

}

.Container .Card img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    background-color: white;
    border-radius: 50px;
}

.Container .Card p{
    font-size: 17px;
    color: #585858;
}

.Container .Card:hover{
   background-color :#dfe4df;
}

.bottom_container{
    position: absolute;
    width: 100%;
    max-width: 900px;
    bottom: 0;
    margin: auto;
    



}

.bottom_container .Search_Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f0f4f0;
    border-radius: 50px;
    gap:15px;

}

.bottom_container .Search_Box input{
    outline: none;
    border: none;
    flex: 1;
    padding: 8px 12px;
    background-color: transparent;
    font-size: 18px;
}
.images{
    display: flex;
    gap:10px
}
.images img{
    width: 24px;
    cursor: pointer;
}

.gemini_text{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}
.resut_title{
    display: flex;
    margin:40px 0;
    align-items: center;
    gap:20px;
}

.resut_title .icons{
    width: 40px;
    border-radius: 50%;
}

.result_data{
    display: flex;
    gap: 10px;
    align-items: start;
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#93d7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;

}
@keyframes loader{
 0%{
    background-position: -800px 0px;

 }
 100%{
    background-position: 800px 0px;
 }
}

.result_data p{
    font-size: 17px;
    font-family: 300;
    line-height: 1.7;
}